@using MetalMonkey.Engine.Routing

<ul>
    <li><a href="page">Page</a></li>
    <li><a href="page/test-page">Test Page</a></li>
    <li><a href="catalog">Catalog</a></li>
    <li><a href="catalog/april/test-page">April</a></li>
    <li><a href="catalog/blah">Blah</a></li>
    <li><a href="catalog/month/april/35">April 35</a></li>
</ul>
<MetalRouter>
    <RouteTable>
        <RoutePath Segments="page" Rank="50">
            <MetalMonkey.Site.FutureImperfect.Shared.PageLayout>
                <Body>
                    <PageRouter Root="data/pages" RouteContext="@context" Context="post">
                        <MetalMonkey.Site.FutureImperfect.Pages.Post Content="@post.Content" FrontMatter="@post.FrontMatter" />
                    </PageRouter>
                </Body>
            </MetalMonkey.Site.FutureImperfect.Shared.PageLayout>
        </RoutePath>
        <RoutePath Segments="catalog/april">
            <PageRouter Root="data/pages" RouteContext="@context" Context="month">
                <h1>@month.FrontMatter.Title</h1>
            </PageRouter>
        </RoutePath>
    </RouteTable>
</MetalRouter>
